#user-bg-image{
    background-image: url("../../img/cdtc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#header-logo-image{
    background-image: url("../../img/davinci-logo.png");
    background-repeat: no-repeat;
    background-size: cover;
}