@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
/* #frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f6f9;
} */
#center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#temparature-meter__container {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 200px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  border: solid 10px #fff;
  overflow: hidden;
}
#temparature-meter__container:after {
  position: absolute;
  content: "";
  height: 120px;
  width: 120px;
  background-color: #fff;
  z-index: 0;
  transform: rotate(45deg);
  bottom: -40px;
  left: 40px;
  z-index: 1;
}
#temparature-meter__inner {
  display: flex;
  text-align: center;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  background: linear-gradient(to right, #4edfff 70%, #f80000 82%);
  overflow: hidden;
}
#temparature-meter__inner .temparature-meter__inner-ring {
  cursor: pointer;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 130px;
  width: 130px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 9;
}
#temparature-meter__inner .temparature-meter__inner-ring:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 50%;
  background-image: linear-gradient(#652c95 15px, transparent 0);
  top: 0;
  left: 50%;
  transform-origin: bottom;
  /* transform: rotatez(-130deg); */
  transition: all 0.8s ease-in-out;
}
/* #temparature-meter__inner .temparature-meter__inner-ring:hover:after {
  transform: rotatez(-130deg);
} */
#temparature-meter__inner .temparature-inside {
  position: relative;
  font-size: 50px;
  display: inline-block;
  letter-spacing: -5px;
  font-weight: 500;
  color: #873183;
  height: 58px;
}
#temparature-meter__inner .temparature-inside .temperature-sup {
  font-size: 20px;
  position: absolute;
  position: relative;
  right: -25px;
  top: -25px;
}
#temparature-meter__inner .temparature-outside {
  font-size: 13px;
}
#temparature-meter__inner .temparature-meter__inner-label {
  font-size: 13px;
}

#temperature-chart{
    overflow: hidden;
}