#dashboard-frame {
    margin: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    overflow: auto;
    box-sizing: border-box;
}

#dashboard-boxname-field {
    margin: 1em;
    padding: 0.5em;
    text-align: left;
    font-size: 18px;
}

.dashboard-chart {
    margin: 0.5em;
    min-width: 200px;
    min-height: 230px;
    height: auto; 
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    max-width: 300px;
    max-height: 300px;
    display: grid;
    grid-template-rows: 200px 30px;
    
}

.dashboard-chart h6 {
    margin-top: 10%;
    text-align: center;
}

.humidity h6 {
    margin-top: 15%;
    text-align: center;
}
/* .dashboard-chart::before {
    content: "";
    padding-top: 100%;
    display: block;
} */

#dashboard-charts-field {
    margin: 1em;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
}

#dashboard-stats-field {
    margin: 1em;
    padding: 0.5em;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33%;
}

.dashboard-stat-column {
    margin: 0.5em;
    min-width: 200px;
    width: auto; 
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    max-width: 300px;
}

.dashboard-stat {
    text-align: left;
    font-size: 18px;
}

#weather-frame {
    margin: 1em;
    padding: 0.5em;
    height: 50%;
}

#location-map-frame {
    margin: 1em;
    padding: 0.5em;
    height: 50%;
}




/* #humidity-char{

} */