#dashboard-frame {
    margin: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    overflow: auto;
    box-sizing: border-box;
}

#dashboard-boxname-field {
    margin: 1em;
    padding: 0.5em;
    text-align: left;
    font-size: 18px;
}

.dashboard-chart {
    margin: 0.5em;
    min-width: 200px;
    min-height: 240px;
    height: auto; 
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    max-width: 300px;
    max-height: 300px;
    display: grid;
    grid-template-rows: 200px 40px;
    
}

.dashboard-chart h6 {
    margin-top: 10%;
    text-align: center;
}

.humidity h6 {
    margin-top: 15%;
    text-align: center;
}


#dashboard-charts-field {
    margin: 1em;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
}

#dashboard-stats-field {
    margin: 1em;
    padding: 0.5em;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33%;
}

.dashboard-stat-column {
    margin: 0.5em;
    min-width: 200px;
    width: auto; 
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    max-width: 300px;
}

.dashboard-stat {
    text-align: left;
    font-size: 18px;
}

#weather-frame {
    margin: 1em;
    padding: 0.5em;
    height: 50%;
}

#location-map-frame {
    margin: 1em;
    padding: 0.5em;
    height: 50%;
}

.chart-broder{
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.weather-border{
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px 5px rgba(110, 110, 110, 0.75);
}

.body-border{
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px 5px rgba(110, 110, 110, 0.75);
}

.map-broder{
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px 5px rgba(110, 110, 110, 0.75);
}

.info-border{
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    background-color: #ffffff;
    box-shadow: 1px 10px 5px 5px rgba(110, 110, 110, 0.75);
}
#pressure-chart {
    justify-content: space-around;
}

#co2-chart {
    justify-content: space-around;
}

