{%extends "index.html"%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Private policy{%endblock%}</title>
</head>
<body>

    {%block content%}
    {%include "navbar/navbar.html"%}
    <div class="container">
        <br><br>
        Privacybeleid<br><br>

        Laatst bijgewerkt: [25-09-2023]<br><br>

        Dit Privacybeleid beschrijft hoe [Uw Bedrijfsnaam] ("wij", "ons", "onze") persoonlijke informatie verzamelt, gebruikt en deelt wanneer u onze website [UwWebsiteURL] ("Website") bezoekt of gebruikt. Door onze Website te bezoeken en te gebruiken, stemt u in met de praktijken zoals beschreven in dit Privacybeleid.<br><br>

        1. Verzamelde Gegevens<br><br>

        We verzamelen de volgende soorten persoonlijke informatie wanneer u de Website gebruikt:<br><br>

        E-mailadres: We verzamelen uw e-mailadres wanneer u zich registreert voor een account, abonneert op onze nieuwsbrief of contact met ons opneemt via e-mail.<br>

        Gebruikersnaam: We verzamelen een door u gekozen gebruikersnaam wanneer u zich registreert voor een account.<br>

        Naam: We kunnen uw naam verzamelen wanneer u zich registreert voor een account of wanneer u deze vrijwillig verstrekt.<br>

        Wachtwoord: We verzamelen een versleuteld wachtwoord om uw account te beveiligen.<br><br>

        2. Gebruik van Gegevens<br><br>

        We gebruiken uw persoonlijke informatie voor de volgende doeleinden:<br><br>

        Het beheren en onderhouden van uw account op onze Website.<br>

        Het verstrekken van de door u gevraagde producten of diensten.<br>

        Het versturen van belangrijke meldingen met betrekking tot uw account en onze services.<br>

        Het verbeteren van onze Website en services op basis van uw feedback en behoeften.<br>

        Het versturen van marketingcommunicatie en nieuwsbrieven (indien u zich daarvoor hebt aangemeld).<br><br>

        3. Delen van Gegevens<br><br>

        We delen uw persoonlijke informatie alleen in de volgende situaties:<br><br>

        Met derden die ons helpen bij het leveren van onze services, zoals hostingproviders, betalingsverwerkers en e-maildienstverleners. Deze derden zijn verplicht uw informatie te beschermen en alleen te gebruiken voor de doeleinden waarvoor ze zijn ingehuurd.<br>

        Wanneer we wettelijk verplicht zijn om dit te doen, zoals in reactie op een gerechtelijk bevel of andere wettelijke verzoeken.<br><br>

        4. Beveiliging van Gegevens<br><br>

        We nemen de bescherming van uw persoonlijke informatie serieus en nemen redelijke maatregelen om deze te beschermen tegen verlies, misbruik en ongeautoriseerde toegang. We gebruiken versleutelingstechnologie om uw wachtwoord en andere gevoelige informatie te beschermen.<br><br>

        5. Uw Rechten<br><br>

        U hebt het recht om toegang te krijgen tot uw persoonlijke informatie, deze te corrigeren, bij te werken of te verwijderen. U kunt ook bezwaar maken tegen het gebruik van uw informatie voor marketingdoeleinden. Neem contact met ons op via [Uw Contactinformatie] om deze rechten uit te oefenen.<br><br>

        6. Wijzigingen in dit Privacybeleid<br><br>

        We behouden ons het recht voor om dit Privacybeleid op elk moment te wijzigen en eventuele wijzigingen zullen op deze pagina worden geplaatst. We raden u aan deze pagina regelmatig te controleren op updates.<br><br>

        7. Contact<br><br>

        Als u vragen heeft over dit Privacybeleid of uw privacyrechten, neem dan contact met ons op via [Uw Contactinformatie].<br>

        Dank u voor het lezen van ons Privacybeleid.<br>
    </div>
    

    {%endblock%}
    
</body>
</html>