{%extends "index.html"%}
{%block title%} Login {%endblock%}
{%load crispy_forms_tags%}
<body>
    {%block content%}
    <div class="background-no-repeat-cover" id="user-bg-image">
        <div class="container min-vh-100 align-items-center d-flex justify-content-center">
            <form action="" method="POST" class="form-control w-25 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                {%csrf_token%}
                <h2 class="fs-5">Login</h2>
                {{form|crispy}}
                <input class="btn btn-primary" type="submit" value="Login">
                <div class="pt-2">
                    <p style="font-size: 13px">Dont have an account? <a href="{%url 'signup'%}">Create one</a></p>
                </div>
            </form>
        </div>
    </div>
    {%endblock%}
</body>
</html>