{%load static%}
{%block content%}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/chart.js@2.8.0/dist/Chart.bundle.js"></script>
  <script src="https://unpkg.com/chartjs-gauge@0.3.0/dist/chartjs-gauge.js"></script>
  <script src="https://unpkg.com/chartjs-plugin-datalabels@0.7.0/dist/chartjs-plugin-datalabels.js"></script>
</head>

<body>
  <div id="canvas-holder" style="width:200px; height:200px;">
  <canvas id="chart" style="width:200px; height:200px;"></canvas>
  </div>

  <script src="{%static 'js/co2.js'%}"></script>
</body>
{%endblock%}


