{%load static%}
{%block content%}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="{% static 'js/co2/chart.bundle.js'%}"></script>
  <script src="{% static 'js/co2/chart.gauge.js'%}"></script>
  <script src="{% static 'js/co2/chart.datalabels.js'%}"></script>
</head>

<body>
  <div id="canvas-holder" style="width:200px; height:200px;">
  <canvas id="chart" style="width:200px; height:200px;"></canvas>
  </div>

  <script src="{%static 'js/co2.js'%}"></script>
</body>
{%endblock%}


