{%block content%}
{%load static%}
<link rel="stylesheet" href="{% static 'css/components/temp.css' %}">
<div class="frame" id="frame">
    <div class="center" id="center">
          <div class="temparature-meter__container" id="temparature-meter__container">
              <div class="temparature-meter__inner" id="temparature-meter__inner"> 
                  <div class="temparature-meter__inner-ring" id="temparature-meter__inner-ring">
                      <div class="temparature-outside" id="temparature-outside"></div>
                      <div class="temparature-inside" id="temparature-inside">
                          <span class="temparature-count c1"id="span1"></span>
                          <span class="temperature-sup" id="temperature-sup"></span>
                      </div>
                      <div class="temparature-meter__inner-label" id="temparature-meter__inner-label">C°</div>
                  </div>
              </div>
          </div>
    </div>
  </div>




<script src="{% static 'js/temp.js'%}"></script>
{%endblock%}
