{%extends "index.html"%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} Login {%endblock%}Login</title>

</head>
<body>

    {%block content%}
    <nav class="navbar bg-body-tertiary shadow-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img width="30" height="24" class="d-inline-block align-text-top">
            Cooling down the city
          </a>
        </div>
    </nav>

    <div class="container min-vh-100 align-items-center d-flex justify-content-center">
        <form class="form-control w-25 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Remember</label> 
            </div>
            <button type="submit" class="btn btn-primary">Login</button> <p> <a href="#" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover float-end">Sing up</a></p>
          </form>
    </div>
    {%endblock%}

</body>
</html>