<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} sing up {%endblock%}</title>
</head>
<body>
    {%block content%}
    {%include "navbar/navbar.html"%}
    <div class="container min-vh-100 align-items-center d-flex justify-content-center">
        <form action="" method="POST" class="form-control w-25 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username">
              </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col p-0">
                        <button type="submit" class="btn btn-primary">Sign up</button> <p></p>
                    </div>
                </div>
            </div>
          </form>
    </div>
    
    {%endblock%}
</body>
</html>