{%extends "index.html"%}
{%block title%} Dashboard {%endblock%}
<body>
    {%block content%}
    <div class="curved-border border-black" id="dashboard-frame">
        <div class="half-column float-left">
            <div class="curved-border border-black" id="dashboard-boxname-field">Name of the box</div>
            <div id="dashboard-charts-field">
                <div class="curved-border border-black dashboard-chart" id="temperature-chart"></div>
                <div class="curved-border border-black dashboard-chart" id="humidity-chart"></div>
                <div class="curved-border border-black dashboard-chart" id="pressure-chart"></div>
                <div class="curved-border border-black dashboard-chart" id="aqi-chart"></div>
                <div class="curved-border border-black dashboard-chart" id="placeholder-chart"></div>
                <div class="curved-border border-black dashboard-chart" id="carbon-chart"></div>
            </div>
        </div>
        <div class="half-column float-right">Placeholder</div>
    </div>
    {%endblock%}
</body>