{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} {%endblock%}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    {% load bootstrap5 %}
  
</head>
<body>
    <nav class="navbar navbar-expand-lg shadow-lg">
        {% if user.is_authenticated%}
        <div class="container-fluid">
            <a class="navbar-brand" href="/dashboard">
                <img width="30" height="24" class="d-inline-block align-text-top">
                Cooling down the city
            </a>
        {%else%}
        <div class="container-fluid">
            <a class="navbar-brand" href="/signin">
                <img width="30" height="24" class="d-inline-block align-text-top">
                Cooling down the city
            </a>
        {%endif%}
            {%if request.user.is_authenticated%}
            <ul class="navbar-nav">
                <li class="navbar-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{request.user.username}}
                      </a>
                      <ul class="dropdown-menu dropdown-menu-end mt-2">
                        <li><a class="nav-link" href="{%url 'signout'%}">Log out</a></li>
                      </ul>
                </li>
                <li class="navbar-item">
                    
                </li>
            </ul>
            {%else%}
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'signin'%}">Login</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="{%url 'signup'%}">Signup</a>
                </li>
            </ul>
            {%endif%}
        </div>
    </nav>
    <div id="index" class="">{%block content%} {%endblock%}</div>

    <footer class="text-center text-lg-start">
        <div class="text-center p-3">
            CopyRight
            <img class="" src="" alt="">
            <img class="" src="" alt="">
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>