{%extends "index.html"%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} Login {%endblock%}Login</title>
</head>
<body>
    {%block content%}
    {%include "navbar/navbar.html"%}
    <div class="container min-vh-100 align-items-center d-flex justify-content-center">
        <form action="" method="POST" class="form-control w-25 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        {%if messages%}
            {%for message in messages%}
                <div class="alert alert-danger d-flex align-items-center alert-dismissible" role="alert">
                <strong class="fs-6">{{message}}</strong> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {%endfor%}
        {%endif%}
            {%csrf_token%}
            <h2 class="fs-5">Login</h2>
            {{form.as_p}}
            <input class="btn btn-primary" type="submit" value="Login">
          </form>
    </div>
    {%endblock%}
</body>
</html>