{%extends "index.html"%}
<!DOCTYPE html>
<head>
    <title>{%block title%} Sign up {%endblock%}</title>
</head>
<body>
    {%block content%}
    {% load bootstrap5 %}
        <div class="container min-vh-100 align-items-center d-flex justify-content-center">
            <form action="/signup/" method="POST" class="form-control w-25 shadow-lg p-3 mb-5 bg-body-tertiary rounded" novalidate>
                {%csrf_token%}
                {%if message%}
                    {%for messages in message%}
                        <div class="alert alert-success d-flex align-items-center alert-dismissible" role="alert">
                        <strong class="fs-6">{{messages}}</strong> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {%endfor%}
                {%endif%}
                <h2 class="mb-3 fs-5">Create your account</h2>
                <div class="mb-3">
                    {% for field in form %}
                    <div class="mb-3">
                        {{ field }}
                        {% if field.errors %}
                        <div style="color: red; font-size: 11px;">
                            <span>{{ field.errors }}</span>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col p-0">
                            <button type="submit" class="btn btn-primary">Sign up</button> <p></p>
                        </div>
                    </div>
                </div>
                <div>
                    <p style="font-size: 11px">By clicking “Sign up”, you agree to our terms of service and acknowledge that you have read and understand our <a href="/privatepolicy" target="_blank">privacy policy.</a></p>
                </div>
            </form>
        </div>
    {%endblock%}
</body>
</html>